<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515921176690-gu3bvdcn0qe6ui3sto6g2jck9cdtshnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515921176690-gu3bvdcn0qe6ui3sto6g2jck9cdtshnr</string>
	<key>API_KEY</key>
	<string>AIzaSyDOMftKYNz4BZkuWAOdNR6Nh9bzIW2I3k0</string>
	<key>GCM_SENDER_ID</key>
	<string>515921176690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.lukasSanda.smap.SmartCart</string>
	<key>PROJECT_ID</key>
	<string>smap-smartcart</string>
	<key>STORAGE_BUCKET</key>
	<string>smap-smartcart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515921176690:ios:fc987d172bd674ccccbaeb</string>
	<key>DATABASE_URL</key>
	<string>https://smap-smartcart.firebaseio.com</string>
</dict>
</plist>